<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="finance.core.dal.dao.ActivityOperationRecordDAO">
    <resultMap id="BaseResultMap" type="finance.core.dal.dataobject.ActivityOperationRecordDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="activity_code" property="activityCode" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR"/>
        <result column="reward_type" property="rewardType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, activity_code, user_id, mobile_num, reward_type, create_time, update_time, creator,
        updator, is_delete, version
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_activity_operation_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="finance.core.dal.dataobject.ActivityOperationRecordDO">
        insert into finance_activity_operation_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="activityCode != null">
                activity_code,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="mobileNum != null">
                mobile_num,
            </if>
            <if test="rewardType != null">
                reward_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="activityCode != null">
                #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="mobileNum != null">
                #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="rewardType != null">
                #{rewardType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finance.core.dal.dataobject.ActivityOperationRecordDO">
        update finance_activity_operation_record
        <set>
            <if test="activityCode != null">
                activity_code = #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="mobileNum != null">
                mobile_num = #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="rewardType != null">
                reward_type = #{rewardType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="finance_activity_operation_record_query_fuzzy_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="activityCode != null and activityCode.trim().length() != 0">
                AND (activity_code like '%' || #{activityCode} || '%')
            </if>
            <if test="userId != null">
                AND (user_id = #{userId})
            </if>
            <if test="mobileNum != null and mobileNum.trim().length() != 0">
                AND (mobile_num like '%' || #{mobileNum} || '%')
            </if>
            <if test="rewardType != null and rewardType.trim().length() != 0">
                AND (reward_type like '%' || #{rewardType} || '%')
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator like '%' || #{creator} || '%')
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator like '%' || #{updator} || '%')
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete = #{isDelete})
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <sql id="finance_activity_operation_record_query_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="activityCode != null and activityCode.trim().length() != 0">
                AND (activity_code = #{activityCode})
            </if>
            <if test="userId != null">
                AND (user_id = #{userId})
            </if>
            <if test="mobileNum != null and mobileNum.trim().length() != 0">
                AND (mobile_num = #{mobileNum})
            </if>
            <if test="rewardType != null and rewardType.trim().length() != 0">
                AND (reward_type = #{rewardType})
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator = #{creator})
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator = #{updator})
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete = #{isDelete})
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_activity_operation_record
        <if test="fuzzy">
            <include refid="finance_activity_operation_record_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_activity_operation_record_query_condition"/>
        </if>
        <if test="order">
            order by ID desc
        </if>
        <include refid="base.limit"/>
    </select>
    <select id="count" resultType="int">
        select count(*) from finance_activity_operation_record
        <if test="fuzzy">
            <include refid="finance_activity_operation_record_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_activity_operation_record_query_condition"/>
        </if>
    </select>
</mapper>