<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhishush.finance.core.dal.dao.activity.ActivityProcessInfoDAO">
    <resultMap id="BaseResultMap" type="cn.zhishush.finance.core.dal.dataobject.activity.ActivityProcessInfoDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR"/>
        <result column="activity_code" property="activityCode" jdbcType="VARCHAR"/>
        <result column="is_participate" property="isParticipate" jdbcType="VARCHAR"/>
        <result column="is_finished" property="isFinished" jdbcType="VARCHAR"/>
        <result column="is_promoter" property="isPromoter" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="dailyInviteInfoMap"
               type="cn.zhishush.finance.core.dal.dataobject.activity.ActivityDailyInviteInfoDO">
        <result column="invite_num" property="inviteNum" jdbcType="BIGINT"/>
        <result column="invite_date" property="inviteDate" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, mobile_num, activity_code, is_participate, is_finished, is_promoter,
        create_time, update_time, creator, updator, is_delete, version
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_activity_process_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="cn.zhishush.finance.core.dal.dataobject.activity.ActivityProcessInfoDO">
        insert into finance_activity_process_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="mobileNum != null">
                mobile_num,
            </if>
            <if test="activityCode != null">
                activity_code,
            </if>
            <if test="isParticipate != null">
                is_participate,
            </if>
            <if test="isFinished != null">
                is_finished,
            </if>
            <if test="isPromoter != null">
                is_promoter,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="mobileNum != null">
                #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="activityCode != null">
                #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="isParticipate != null">
                #{isParticipate,jdbcType=VARCHAR},
            </if>
            <if test="isFinished != null">
                #{isFinished,jdbcType=VARCHAR},
            </if>
            <if test="isPromoter != null">
                #{isPromoter,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="cn.zhishush.finance.core.dal.dataobject.activity.ActivityProcessInfoDO">
        update finance_activity_process_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="mobileNum != null">
                mobile_num = #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="activityCode != null">
                activity_code = #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="isParticipate != null">
                is_participate = #{isParticipate,jdbcType=VARCHAR},
            </if>
            <if test="isFinished != null">
                is_finished = #{isFinished,jdbcType=VARCHAR},
            </if>
            <if test="isPromoter != null">
                is_promoter = #{isPromoter,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="finance_activity_process_info_query_fuzzy_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userId != null">
                AND (user_id = #{userId})
            </if>
            <if test="mobileNum != null and mobileNum.trim().length() != 0">
                AND (mobile_num like '%' || #{mobileNum} || '%')
            </if>
            <if test="activityCode != null and activityCode.trim().length() != 0">
                AND (activity_code like '%' || #{activityCode} || '%')
            </if>
            <if test="isParticipate != null and isParticipate.trim().length() != 0">
                AND (is_participate like '%' || #{isParticipate} || '%')
            </if>
            <if test="isFinished != null and isFinished.trim().length() != 0">
                AND (is_finished like '%' || #{isFinished} || '%')
            </if>
            <if test="isPromoter != null and isPromoter.trim().length() != 0">
                AND (is_promoter like '%' || #{isPromoter} || '%')
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator like '%' || #{creator} || '%')
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator like '%' || #{updator} || '%')
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete like '%' || #{isDelete} || '%')
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <sql id="finance_activity_process_info_query_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userId != null ">
                AND (user_id = #{userId})
            </if>
            <if test="mobileNum != null and mobileNum.trim().length() != 0">
                AND (mobile_num = #{mobileNum})
            </if>
            <if test="activityCode != null and activityCode.trim().length() != 0">
                AND (activity_code = #{activityCode})
            </if>
            <if test="isParticipate != null and isParticipate.trim().length() != 0">
                AND (is_participate = #{isParticipate})
            </if>
            <if test="isFinished != null and isFinished.trim().length() != 0">
                AND (is_finished = #{isFinished})
            </if>
            <if test="isPromoter != null and isPromoter.trim().length() != 0">
                AND (is_promoter = #{isPromoter})
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator = #{creator})
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator = #{updator})
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete = #{isDelete})
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_activity_process_info
        <if test="fuzzy">
            <include refid="finance_activity_process_info_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_activity_process_info_query_condition"/>
        </if>
        <if test="order">
            order by ID desc
        </if>
        <include refid="base.limit"/>
    </select>
    <select id="count" resultType="int">
        select count(*) from finance_activity_process_info
        <if test="fuzzy">
            <include refid="finance_activity_process_info_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_activity_process_info_query_condition"/>
        </if>
    </select>
    <select id="queryInviteNum" resultType="int">
        SELECT
        count( 1 )
        FROM
        finance_activity_process_info
        WHERE
        activity_code=#{activityCode}
        and user_id IN ( SELECT user_id FROM finance_user_invite_info WHERE parent_user_id = #{userId} )
        AND is_participate = 'Y'
        AND is_finished = 'Y'
    </select>
    <select id="queryDailyInviteInfo" resultMap="dailyInviteInfoMap">
        SELECT
        DATE_FORMAT(update_time,'%Y-%m-%d') as invite_date,
        count(user_id) as invite_num
        FROM
        finance_activity_process_info
        WHERE
        activity_code=#{activityCode}
        and user_id IN ( SELECT user_id FROM finance_user_invite_info WHERE parent_user_id = #{userId} )
        AND is_participate = 'Y'
        AND is_finished = 'Y'
        GROUP BY DATE_FORMAT(update_time,'%Y-%m-%d')
    </select>
    <select id="queryDailyInviteNum" resultType="int">
        SELECT count(1) from finance_activity_process_info where
        activity_code=#{activityCode} and
        is_participate='Y' and DATE_FORMAT(create_time,'%Y-%m-%d') = #{inviteDate}
    </select>
</mapper>