<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhishush.finance.core.dal.dao.news.BannerInfoDAO" >
  <resultMap id="BaseResultMap" type="cn.zhishush.finance.core.dal.dataobject.news.BannerInfoDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="page_code" property="pageCode" jdbcType="INTEGER" />
    <result column="banner_type" property="bannerType" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
    <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="redirect_url" property="redirectUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_code, banner_type, title, seq_no, banner_url, redirect_url, create_time, 
    update_time, is_delete, creator, updator, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from finance_banner_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from finance_banner_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.zhishush.finance.core.dal.dataobject.news.BannerInfoDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance_banner_info (page_code, banner_type, title, 
      seq_no, banner_url, redirect_url, 
      create_time, update_time, is_delete, 
      creator, updator, version
      )
    values (#{pageCode,jdbcType=INTEGER}, #{bannerType,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{seqNo,jdbcType=INTEGER}, #{bannerUrl,jdbcType=VARCHAR}, #{redirectUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zhishush.finance.core.dal.dataobject.news.BannerInfoDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance_banner_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pageCode != null" >
        page_code,
      </if>
      <if test="bannerType != null" >
        banner_type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="bannerUrl != null" >
        banner_url,
      </if>
      <if test="redirectUrl != null" >
        redirect_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pageCode != null" >
        #{pageCode,jdbcType=INTEGER},
      </if>
      <if test="bannerType != null" >
        #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="bannerUrl != null" >
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null" >
        #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zhishush.finance.core.dal.dataobject.news.BannerInfoDO" >
    update finance_banner_info
    <set >
      <if test="pageCode != null" >
        page_code = #{pageCode,jdbcType=INTEGER},
      </if>
      <if test="bannerType != null" >
        banner_type = #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="bannerUrl != null" >
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null" >
        redirect_url = #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryBannerByCodeAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from finance_banner_info
    WHERE page_code = #{pageCode,jdbcType=INTEGER}
    and banner_type = #{bannerType,jdbcType=INTEGER}
    order by seq_no
  </select>
</mapper>