<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="finance.mapper.FinanceCreditCardDetailDAO">
    <resultMap id="BaseResultMap" type="finance.model.po.FinanceCreditCardDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="pass_rate" property="passRate" jdbcType="VARCHAR"/>
        <result column="reback_cash_desc" property="rebackCashDesc" jdbcType="VARCHAR"/>
        <result column="detail_page_url" property="detailPageUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="max_amount" property="maxAmount" jdbcType="VARCHAR"/>
        <result column="audit_length" property="auditLength" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, product_id, pass_rate, reback_cash_desc, detail_page_url, create_time, update_time,
        is_delete, creator, updator, version, max_amount, audit_length
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_credit_card_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="finance.model.po.FinanceCreditCardDetail">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into finance_credit_card_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="passRate != null">
                pass_rate,
            </if>
            <if test="rebackCashDesc != null">
                reback_cash_desc,
            </if>
            <if test="detailPageUrl != null">
                detail_page_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="maxAmount != null">
                max_amount,
            </if>
            <if test="auditLength != null">
                audit_length,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="passRate != null">
                #{passRate,jdbcType=VARCHAR},
            </if>
            <if test="rebackCashDesc != null">
                #{rebackCashDesc,jdbcType=VARCHAR},
            </if>
            <if test="detailPageUrl != null">
                #{detailPageUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="maxAmount != null">
                #{maxAmount,jdbcType=VARCHAR},
            </if>
            <if test="auditLength != null">
                #{auditLength,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finance.model.po.FinanceCreditCardDetail">
        update finance_credit_card_detail
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="passRate != null">
                pass_rate = #{passRate,jdbcType=VARCHAR},
            </if>
            <if test="rebackCashDesc != null">
                reback_cash_desc = #{rebackCashDesc,jdbcType=VARCHAR},
            </if>
            <if test="detailPageUrl != null">
                detail_page_url = #{detailPageUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="maxAmount != null">
                max_amount = #{maxAmount,jdbcType=VARCHAR},
            </if>
            <if test="auditLength != null">
                audit_length = #{auditLength,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByProductId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_credit_card_detail
        where product_id in
        <foreach item="productId" collection="productIds" open="(" close=")" separator=",">
            #{productId,jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="selectProductDetailByProductId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_credit_card_detail
        where product_id = #{productId,jdbcType=BIGINT}
    </select>
</mapper>