<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="finance.core.dal.dao.FinanceBarrageMessageDAO">
    <resultMap id="BaseResultMap" type="finance.core.dal.dataobject.FinanceBarrageMessage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="message_code" property="messageCode" jdbcType="VARCHAR"/>
        <result column="message_desc" property="messageDesc" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, message_code, message_desc, creator, updator, version, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_barrage_message
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="finance.core.dal.dataobject.FinanceBarrageMessage">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into finance_barrage_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageCode != null">
                message_code,
            </if>
            <if test="messageDesc != null">
                message_desc,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageCode != null">
                #{messageCode,jdbcType=VARCHAR},
            </if>
            <if test="messageDesc != null">
                #{messageDesc,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finance.core.dal.dataobject.FinanceBarrageMessage">
        update finance_barrage_message
        <set>
            <if test="messageCode != null">
                message_code = #{messageCode,jdbcType=VARCHAR},
            </if>
            <if test="messageDesc != null">
                message_desc = #{messageDesc,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="count" resultType="int">
        select count(1) from finance_barrage_message
        <include refid="queryCondition"/>
    </select>
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_barrage_message
        <include refid="queryCondition"/>
        <include refid="base.limit"/>
    </select>
    <sql id="queryCondition">
        <trim prefix="where" prefixOverrides="AND| OR">
            <if test="messageCode !=null">
                and message_code= #{messageCode}
            </if>
            <if test="messageCodes != null">
                and message_code in
                <foreach item="messageCode" collection="messageCodes" open="(" close=")" separator=",">
                    #{messageCode,jdbcType=BIGINT}
                </foreach>
            </if>
        </trim>
    </sql>
</mapper>