<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="finance.mapper.FinanceOperationRecordDAO">
    <resultMap id="BaseResultMap" type="finance.model.po.FinanceOperationRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="product_type" property="productType" jdbcType="INTEGER"/>
        <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="reserved_field" property="reservedField" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="version_num" property="versionNum" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, real_name, mobile_num, product_id, product_name, product_type, operation_time,
        `status`, reserved_field, create_time, update_time, creater, updater, version_num,
        is_delete
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_operation_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="finance.model.po.FinanceOperationRecord">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into finance_operation_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="mobileNum != null">
                mobile_num,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="operationTime != null">
                operation_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="reservedField != null">
                reserved_field,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="updater != null">
                updater,
            </if>
            <if test="versionNum != null">
                version_num,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mobileNum != null">
                #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=INTEGER},
            </if>
            <if test="operationTime != null">
                #{operationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="reservedField != null">
                #{reservedField,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null">
                #{versionNum,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finance.model.po.FinanceOperationRecord">
        update finance_operation_record
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mobileNum != null">
                mobile_num = #{mobileNum,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=INTEGER},
            </if>
            <if test="operationTime != null">
                operation_time = #{operationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="reservedField != null">
                reserved_field = #{reservedField,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="versionNum != null">
                version_num = #{versionNum,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectCountByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_operation_record
        where product_id = #{productId,jdbcType=BIGINT}
        <if test="userIds != null">
            and user_id in
            <foreach item="userId" collection="userIds" open="(" close=")" separator=",">
                #{userId,jdbcType=BIGINT}
            </foreach>
        </if>
        and create_time &gt;= #{beginTime,jdbcType=TIMESTAMP}
        and create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </select>
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_operation_record
        <include refid="queryCondition"/>
        <include refid="base.limit"/>
    </select>
    <sql id="queryCondition">
        <trim prefix="where" prefixOverrides="AND| OR">
            <if test="userId !=null">
                and userId= #{userId}
            </if>
            <if test="userIds != null">
                and user_id in
                <foreach item="userId" collection="userIds" open="(" close=")" separator=",">
                    #{userId,jdbcType=BIGINT}
                </foreach>
            </if>
        </trim>
    </sql>
    <select id="queryLatestLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_operation_record b
        where
        exists (
        select 1 from (
        select max(id) as id from finance_operation_record
        where user_id in
        <foreach item="userId" collection="userIds" open="(" close=")" separator=",">
            #{userId,jdbcType=BIGINT}
        </foreach>
        GROUP BY user_id
        ) a where a.id = b.id
        )
    </select>
</mapper>