<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhishush.finance.core.dal.dao.popularize.PopularizeModuleInfoDAO">
    <resultMap id="BaseResultMap" type="cn.zhishush.finance.core.dal.dataobject.popularize.PopularizeModuleInfoDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="module_code" property="moduleCode" jdbcType="VARCHAR"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="module_type" property="moduleType" jdbcType="VARCHAR"/>
        <result column="module_order" property="moduleOrder" jdbcType="BIGINT"/>
        <result column="module_status" property="moduleStatus" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updator" property="updator" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, module_code, module_name, module_type, module_order, module_status, create_time,
        update_time, creator, updator, is_delete, version
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from finance_popularize_module_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <sql id="finance_popularize_module_info_query_fuzzy_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="moduleCode != null and moduleCode.trim().length() != 0">
                AND (module_code like '%' || #{moduleCode} || '%')
            </if>
            <if test="moduleName != null and moduleName.trim().length() != 0">
                AND (module_name like '%' || #{moduleName} || '%')
            </if>
            <if test="moduleType != null and moduleType.trim().length() != 0">
                AND (module_type like '%' || #{moduleType} || '%')
            </if>
            <if test="moduleOrder != null and moduleOrder.trim().length() != 0">
                AND (module_order = #{moduleOrder})
            </if>
            <if test="moduleStatus != null and moduleStatus.trim().length() != 0">
                AND (module_status like '%' || #{moduleStatus} || '%')
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator like '%' || #{creator} || '%')
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator like '%' || #{updator} || '%')
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete like '%' || #{isDelete} || '%')
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <sql id="finance_popularize_module_info_query_condition">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="moduleCode != null and moduleCode.trim().length() != 0">
                AND (module_code = #{moduleCode})
            </if>
            <if test="moduleName != null and moduleName.trim().length() != 0">
                AND (module_name = #{moduleName})
            </if>
            <if test="moduleType != null and moduleType.trim().length() != 0">
                AND (module_type = #{moduleType})
            </if>
            <if test="moduleOrder != null and moduleOrder.trim().length() != 0">
                AND (module_order = #{moduleOrder})
            </if>
            <if test="moduleStatus != null and moduleStatus.trim().length() != 0">
                AND (module_status = #{moduleStatus})
            </if>
            <if test="createTime != null and createTime.trim().length() != 0">
                AND (create_time = #{createTime})
            </if>
            <if test="updateTime != null and updateTime.trim().length() != 0">
                AND (update_time = #{updateTime})
            </if>
            <if test="creator != null and creator.trim().length() != 0">
                AND (creator = #{creator})
            </if>
            <if test="updator != null and updator.trim().length() != 0">
                AND (updator = #{updator})
            </if>
            <if test="isDelete != null and isDelete.trim().length() != 0">
                AND (is_delete = #{isDelete})
            </if>
            <if test="version != null and version.trim().length() != 0">
                AND (version = #{version})
            </if>
        </trim>
    </sql>
    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from finance_popularize_module_info
        <if test="fuzzy">
            <include refid="finance_popularize_module_info_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_popularize_module_info_query_condition"/>
        </if>
        <if test="order">
            order by ID desc
        </if>
        <include refid="base.limit"/>
    </select>
    <select id="count" resultType="int">
        select count(*) from finance_popularize_module_info
        <if test="fuzzy">
            <include refid="finance_popularize_module_info_query_fuzzy_condition"/>
        </if>
        <if test="!fuzzy">
            <include refid="finance_popularize_module_info_query_condition"/>
        </if>
    </select>
</mapper>